/*navigation bar*/
#navigation{
	/*flexbox*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*stays on top*/
	position: fixed;
	/*fills in entire top part it stays in*/
	width: 100%;
	top: 0;
	left: 0;
	/*design*/
	background-color: #7EC5EF;
	border-radius: 0 0 10px 10px;
}

/*lighter,larger blocks*/
.contentbox{
	/*design*/
	background-color: #92CFF3;
	border-radius: 35px;
	border-style: solid;
	border-width: 25px;
	border-color: #92CFF3;
	margin-bottom: 22px;
}

/*pair of text and image*/
.pair{
	/*flexbox wrap to account for mobile devices*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*darker,smaller blocks*/
.container,span,img{
	/*design*/
	background-color: #1A788B; 
	border-style: solid; 
	border-width: 20px; 
	border-radius: 25px;
	color: #FFFFFF;
	border-color: #1A788B;
	font-size: 24px;
	margin-bottom: 22px;
}
/*smooth scrolling when clicking navbar links*/
html{scroll-behavior: smooth;}
/*navbar link scrolling doesn't get covered by navbar*/
section{scroll-margin-top: 70px;}
/*limits image size*/
img{max-width: 700px;}

/*navbar links*/
a{
	display: inline-block;
	margin: 12px;
	font-size: 20px;
}

/*general for everything*/
body{
	background-color: #EAF6FF;
	padding-top: 50px;	/*fix so navigation bar doesn't cover topmost content*/
	margin: 20px;
	font-family: "Playwrite NZ Basic";
	color: #1A788B;
}

/*primary headers*/
h1{
	display: flex;
	justify-content: center;
}

/*text*/
p{text-align: justify;}

span{width: 50%;}

/*footer with info*/
footer{
	/*design*/
	background-color: #92CFF3;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-style: solid;
	border-color: #1A788B;
	width: 100%;
	border-radius: 15px;
}